* {
    box-sizing: border-box;
}

:root {
    --primary-text-color: #5F5B53;
    --primary-color: #FFB900;
    --heading-fonts: 'Sen', sans-serif;
    --heading-color: #171100;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.container {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin: 0px auto;
}

.btn {
    display: inline-block;
    min-width: 144px;
    background-color: var(--primary-color);
    border-radius: 25px;
    padding: 11px 0px;
    text-align: center;
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
}

/* -------------------------Navbar----------------------------- */
header {
    background-color: #FFFCF4;
    padding-top: 36px;
    padding-bottom: 7px;
}

/* Position sticky */
.fixed {
    position: sticky;
    top: -29px;
    z-index: 100;
}

header .box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* Logo */
a.logo {
    margin-right: auto;
}

/* Menu */
ul.main-menu {
    display: flex;
    margin-right: 49px;
}

ul.main-menu li a {
    color: var(--primary-text-color);
    font-weight: 400;
    padding: 8px 21px;
}

ul.main-menu li a.active {
    position: relative;
    font-weight: 600;
    color: #171100;

}

ul.main-menu li a.active::before {
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
}

ul.main-menu li a:not(a.active):hover {
    text-shadow: 1px 0px 0px;
    color: #171100;
}

/* Sign-up */
.form-register {
    background-color: #171100;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}

/* --------------------------End Navabar------------------------ */
/* ---------------------------Hero---------------------------- */
#hero {
    background-color: #FFFCF4;
    padding: 57px 0px 65px;
}

#hero .box {
    display: flex;
    justify-content: space-between;
}

#hero .box div.pic {
    position: relative;
    height: 685px;
}

#hero .box div.pic>img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

/*------------------------- Courses Pic-----------------------  */

.hero-courses {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 64%;
    bottom: 6%;
    background-color: #fff;
    box-shadow: 0px 16px 32px 0px #0000000D;
    padding: 24px 0px;
    padding-left: 24px;
    padding-right: 59px;
    border-radius: 12px;
}

.courses {
    display: flex;
    align-items: center;
    margin: 7px 0px;
}

.courses:first-of-type {
    margin-top: 0px;
}

.courses:last-of-type {
    margin-bottom: 0px;
}

.courses img {
    width: 48px;
    height: 48px;
}

.courses .substance {
    margin-left: 16px;
}

.courses .substance p.title {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    color: var(--primary-text-color);
}

.courses .substance strong.title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

/* -----------------------DESC------------------------------ */
#hero .desc {
    padding-top: 64px;
}

.desc h1.title {
    width: 470px;
    font-family: var(--heading-fonts);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -0.02em;
    color: var(--heading-color);
}

.desc>p.title {
    margin: 22px 0px 38px;
    width: 470px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-text-color);

}

/* See-courses */
.desc .see-courses {
    display: flex;
    align-items: center;
}

/* See courses Button */
.desc .see-courses a.sc-cta {
    min-width: 180px;
    padding: 17px 0px;
    margin-right: 28px;
    border-radius: 32px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
}

/* See courses watch-video */
.see-courses .watch-video {
    display: flex;
    align-items: center;
}

.see-courses .watch-video a.icon {
    display: flex;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px 0px #00000012;
    border-radius: 50%;
}

.see-courses .watch-video .icon img {
    width: 12px;
    height: 12px;
    margin: auto;
}

.see-courses .watch-video .video {
    padding-left: 14px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    color: #171100;
}

/* Recent */
.recent {
    margin-top: 48px;
}

.desc .recent p.title {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--primary-text-color);
    margin-bottom: 8px;
    line-height: 30px;

}

.recent div.row {
    display: flex;
}

.recent div.title {
    margin: 0px 14px;
}

.recent div.title strong {
    display: inline-block;
    margin-right: 10px;
    font-family: var(--heading-fonts);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 54px;
    color: var(--heading-color);

}

.recent div.title span {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 30px;
    color: var(--primary-text-color);
}

/* ----------------------------End Hero----------------------- */
/* ==========================Content====================== */
/* -----------------------Popular-------------------- */
#popular-courses {
    padding: 200px 0px;
}

/* Top */
#popular-courses .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 55px;
}

#popular-courses .substance h2.title {
    font-family: var(--heading-fonts);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: var(--heading-color);
    margin-bottom: 16px;
}

#popular-courses .substance>p.title {
    width: 458px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    color: var(--primary-text-color);

}

/* Icon */
#popular-courses .box-icon {
    display: flex;
}

#popular-courses .box-icon .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0px 9px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background: #fff;
    color: var(--primary-color);
}

#popular-courses .box-icon .icon:first-child {
    margin-left: 0px;
}

#popular-courses .box-icon .icon:last-child {
    margin-right: 0px;
}

#popular-courses .box-icon .icon:hover {
    background-color: var(--primary-color);
}

#popular-courses .box-icon .icon:hover svg {
    color: #fff;
}

/* Menu */
#popular-courses ul.courses-menu {
    display: flex;
}

ul.courses-menu li {
    margin: 0px 15px;
    width: 370px;
}

ul.courses-menu li:first-of-type {
    margin-left: 0px;
}

ul.courses-menu li:last-of-type {
    margin-right: 0px;
}

ul.courses-menu li>a,
ul.courses-menu li>a>img {
    display: block;
    width: 100%;
}

ul.courses-menu li>a>img {
    object-fit: cover;
}

ul.courses-menu li div.column {
    padding: 0px 22px 22px;
    border: 1px solid #E2DFDA;
    border-radius: 0px 0px 12px 12px;
}

ul.courses-menu li>a:hover+div.column,
ul.courses-menu li div.column:hover {
    box-shadow: 0px 18px 36px 0px #0000000D;
    border: 1px solid transparent;
    border-radius: 0px 0px 12px 12px;
}

ul.courses-menu li div.column div.row {
    display: flex;
    padding-top: 16px;
    align-items: center;
    justify-content: space-between;
}

ul.courses-menu li div.column h3.title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

ul.courses-menu li div.column h3.title a {
    color: var(--heading-color);
    transition: 0.25s ease-in-out;
}

ul.courses-menu li div.column h3.title:hover a {
    color: var(--primary-color);
}

ul.courses-menu li div.column p.title {
    width: 326px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    color: var(--primary-text-color);
    margin: 6px 0px 12px;
}

ul.courses-menu li div.column div.column-price {
    display: flex;
    align-items: center;
}

ul.courses-menu li div.column span.price {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    color: var(--heading-color);
}

ul.courses-menu li div.column a.popular-cta {
    display: inline-block;
    min-width: 118px;
    background: #171100;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 28px;
    margin-left: 139px;
    transition: 0.25s ease-in-out;
}

ul.courses-menu li div.column a.popular-cta:hover {
    background-color: var(--primary-color);
    opacity: 1;
}

/* ----------------------ENd popular-------------------- */
/* -----------------------Evaluate------------------ */
#evaluate {
    background-color: #2E2100;
    padding: 96px 0px;
}

#evaluate .box {
    display: flex;
    overflow: hidden;
}

#evaluate .box-evaluate {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    transform: translateX(-100%);
    transition: all ease 0.25s;
}

/* Student */
#evaluate .student .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

#evaluate .student .avatar img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 50%;
}

#evaluate .student .name {
    padding: 18px 0px 4px;
    font-family: var(--heading-fonts);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 34px;
    color: #F7F7F7;

}

#evaluate .student .position {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    color: #BFBCB2;
    margin-bottom: 28px;
}

#evaluate .student .dotted span {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
    cursor: pointer;
}


#evaluate .student .dotted span:hover {
    background: var(--primary-color);
}

#evaluate .student .dotted span.active {
    background-color: var(--primary-color);
    cursor: default;
}


#evaluate .student .dotted span+span {
    margin-left: 6px;
}

/* Desc */
#evaluate .desc {
    margin-left: 241px;
}

#evaluate .desc p.substance {
    margin-left: 30px;
    width: 740px;
    max-width: 100%;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
}

/* ------------------------End Evaluate---------------- */
/* ==========================End Content=================== */